<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="../static/js/script.js"></script>
    <title>Registrar rosto</title>
</head>
<body>
  <div class="main-container">
    <h1>Registrar novo usuário</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div>
      <form method="POST" action="/register" id="registerForm">
        <label class="label-form" for="name">Nome do usuário:</label>
        <input class="input-form" type="text" name="name" required>
        <button type="button" onclick="startCountdown()">Capturar e Registrar</button>
      </form>
      <p id="countdown"></p>
    </div>
    <br>
    <a href="/">
      <button type="button">Voltar para login</button>
    </a>
  </div>
</body>
</html>
